{# templates/chat/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endfor %}

{#    {{ render_esi(url('app_dummy_message', { 'maxPerPage': 5 })) }}#}

    <div class="container mx-auto p-4">
        <table>
            <thead>
            <tr>
                <th>Version Type</th>
                <th>Bugs are fixed for...</th>
                <th>Security issues are fixed for...</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Standard</td>
                <td>8 months</td>
                <td>8 months</td>
            </tr>
            <tr>
                <td>Long-Term Support (LTS)</td>
                <td>3 years</td>
                <td>4 years</td>
            </tr>
            </tbody>
        </table>
        <h1 class="text-2xl mb-4">Chat Room</h1>

{#                <div#}
{#                        id="messages"#}
{#                        data-controller="messages"#}
{#                        data-messages-mercure-url-value="{{ mercure('chat')|escape('html_attr') }}"#}
{#                >#}
            <turbo-frame id="message_form">
                {{ form(form) }}
                {#
                    The form is displayed in a Turbo Frame, with this trick a new empty form is displayed after every post,
                    but the rest of the page will not change.
                #}
            </turbo-frame>
                    <div id="messages" {{ turbo_stream_listen('chat') }}>
                        {#
                            The messages will be displayed here.
                            "turbo_stream_listen()" automatically registers a Stimulus controller that subscribes to the "chat" topic as managed by the transport.
                            All connected users will receive the new messages!
                         #}
                    </div>
                    {% for message in messages %}
                        {{ include('chat/_message.html.twig', { message: message }) }}
                    {% endfor %}
                </div>
{#            <div id="messages" {{ turbo_stream_listen('App\\Entity\\Message') }}></div>#}



{% endblock %}